.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
inst/www
*.rds
*.sqlite
*.tar.gz
vignettes/*aux
vignettes/*bbl
vignettes/*blg
vignettes/*gz
vignettes/images
vignettes/*log
vignettes/*out
vignettes/*pdf
vignettes/*tex
vignettes/*toc
