.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rcheck
inst/build
inst/doc
inst/www
*.rds
*.sqlite
*.tar.gz
vignettes/*aux
vignettes/*bbl
vignettes/*blg
vignettes/*gz
vignettes/*log
vignettes/*out
vignettes/*pdf
vignettes/*tex
vignettes/*toc
scripts/commit-tag-push.sh
.vscode/
